.demoElement {
	background-color: #F9F9F9;
	border: 1px solid black;
	color: #000;
	font-size: 12px;
	height: 60px;
	padding: 10px;
	width: 60px;
}
.demoElementHeight {
	height: 100px;
}

.myClass {
	background-color: #C6D880;
	border: 3px dashed #000;
	font-size: 20px;
	height: 50px;
	padding: 20px;
	width: 300px;
}