#box {
    height: 500px;
    width: 100%;
    background: #ccc;
    margin-top: 10px;
    overflow: hidden;
}
 
#target {
    height: 50px;
    width: 50px;
    background: #ff3300;
    position: absolute;
}​