#container	{
	background: #DDD;
	height: 210px;
	position: relative;
	width: 330px;
}
 
#drag	{
	background: #000;
	height: 20px;
	left: 0;
	position: absolute;
	top: 0;
	width: 20px;
}
 
.drop	{
	background: #F30;
	float: left;
	height: 40px;
	margin-left: 10px;
	margin-top: 10px;
	width: 30px;
}