

#accordion	{
	margin: 20px 0 0;
	max-width: 400px;
}
	#accordion H2 {
		background: #D2E0E6;
		border: 1px solid #F5F5F5;
		color: #528CE0;
		cursor: pointer;
		font: 12px Helvetica, Arial, sans-serif;
		margin: 0 0 4px 0;
		padding: 3px 5px 1px;
	}

DIV.element P, DIV.element H4	{
	margin: 0px;
	padding: 4px;
}

BLOCKQUOTE	{
	padding: 5px 20px;
}