.tabs	{
	border-bottom: 1px solid #DDD;
	height: 33px;
}
	.tabs LI	{
		background: url(graphics/tab.png) no-repeat;
		color: #777;
		cursor: pointer;
		float: right;
		font: bold 1em/18px Helvetica, Arial, sans-serif;
		height: 25px;
		margin: 0 0 0 5px;
		padding: 8px 0 0;
		text-align: center;
		width: 74px;
	}
	.tabs LI.first	{
		float: left;
		margin: 0;
	}
	.tabs LI.selected	{
		color: #B86364;
		height: 26px;
	}
.tabs:AFTER	{
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.tabcontent	{
	background: #F4F5F5;
	display: none;
	padding: 15px 0;
}
	.tabcontent IFRAME	{
		min-height: 500px;
		width: 100%;
	}
.tabcontent.selected	{
	display: block;
}

.button	{
	background: #DEDEDE;
	background: -moz-linear-gradient(top, #FFF, #888);
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#888));
	border: 1px solid #D6D6D6;
	color: #666;
	cursor: pointer;
	display: inline-block;
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#FFFFFF', EndColorStr='#888888');
	float: right;
	font: bold 1.2em/28px Helvetica, Arial, sans-serif;
	height: 28px;
	margin: 0 0 30px 30px;
	padding: 0 10px;
	text-decoration: none;
	text-shadow: 0 1px 0 #FFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
	.button:HOVER	{
		background: #BEBEBE;
		background: -moz-linear-gradient(top, #DDD, #666);
		background: -webkit-gradient(linear, left top, left bottom, from(#DDD), to(#666));
		border: 1px solid #B6B6B6;
		color: #444;
		filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#DDDDDD', EndColorStr='#666666');
		text-shadow: 0 1px 0 #DDD;
	}

#description	{
	margin: 0 0 40px;
}

ul.doc_references {
	list-style: circle;
	padding-left: 20px;
}

.CodeMirror-wrapping {
	background-color: #FFF;
	border: 1px solid #DDD;
	border-top: none;
	margin: -15px 0 0;
	padding: 10px;
}