HTML, BODY	{
	margin: 0;
	padding: 0;
}
HTML	{
	font-size: 100%;
}
BODY	{
	background: #F4F5F5;
	font: 62.5% "Helvetica Neue", Helvetica, Arial, sans-serif;
}

H1	{
	color: #C17878;
	font-size: 3em;
	line-height: 30px;
}

P	{
	font-size: 1.3em;
}

A:LINK, A:VISITED {
    color: #6B7B95;
}

A:HOVER, A:ACTIVE {
    color: #E79D35;
}

UL	{
	list-style: none;
	margin: 0;
	padding: 0;
}
	UL LI	{
		font-size: 1.3em;
	}

#header	{
	background: #F9F9F9;
	border-bottom: 1px solid #DDD;
	height: 122px;
}
	#header DIV {
		margin: 0 auto;
		width: 960px;
	}
	#header .button	{
		margin: 50px 0 0;
	}
	#header H1	{
		background: url(graphics/mootools.png) no-repeat 0 50%;
		height: 46px;
		margin: 0 auto;
		padding: 38px 0;
		text-indent: -9999px;
	}

#content	{
	margin: 0 auto;
	padding: 0 0 50px;
	width: 960px;
}
	#content #leftcolumn	{
		border-right: 1px solid #DDD;
		float: left;
		margin: 25px 24px 0 0;
		padding: 0 25px 0 0;
		width: 150px;
	}
		#content #leftcolumn LI	{
			padding: 1px 0;
			text-align: right;
		}
	#content #rightcolumn	{
		float: left;
		margin: 25px 0 0;
		width: 760px;
	}