#container {
	border: 1px solid #999;
	width:145px;
}

.item {
	background-color: #84B683;
	cursor: pointer;
	float: left;
	height: 40px;
	margin: 4px;
	width:40px;
}

.active {
	background-color: #4C7BA5;
}
